.backButton {
  border-radius: 40px;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding: 8px 16px;
  box-sizing: border-box;
  width: 137px;
  height: 35px;
  background: rgba(69, 100, 178, 0.5);
  transition: background 300ms ease;
}
.backButton:hover {
  background: rgba(69, 100, 178, 0.7);
}
