.nodeSpecifics,
.nodeItem {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.nodeItem h2 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.16em;
  color: #d750c8;
  margin: 0;
}

.byPartner {
  text-transform: none;
  color: #6073a3;
  letter-spacing: normal;
}

.bounty404 {
  /* font-family: 'Inter'; */
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #dddddd;
}

.warn {
  color: #E20723;
  vertical-align: middle;
  margin-right: 8px;
}

.immunefiCTA {
  text-decoration: underline;
  color: #6073A3;
  display: block;
  margin-top: 24px;
}
.immunefiCTA:hover {
  text-decoration: none;
}

.external {
  margin-left: 8px;
  vertical-align: middle;
}
