.flowsContainer {
  display: flex;
  gap: 40px;
  flex-direction: column;
}
.flowBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.flowBox p {
  margin: 0;
}
.flowBoxTitle {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.flowBoxChain {
  display: flex;
  gap: 8px;
  align-items: center;
}
.flowBoxChains {
  display: flex;
  align-items: center;
  gap: 15px;
}
.flowBoxChainsReverse {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-direction: row-reverse;
}
.flowBoxSpacer {
  width: 32px;
  height: 2px;
  background-color: #ddd;
  position: relative;
}
.flowBoxSpacerArrow {
  border: solid 5px rgba(0, 0, 0, 0);
  border-left: solid 8px #fff;
  height: 0;
  width: 0;
  position: absolute;
  right: 0;
  margin-top: -4px;
  margin-right: -6px;
}
.flowBoxMainFlow {
  letter-spacing: 0.16em;
  color: #dddddd;
}
.flowBoxContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}
.flowBoxRow {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flowBoxRow a {
  padding: 10px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  transition: all 200ms ease;
  scale: 1;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  width: 100%;
}
.flowBoxRow a:hover {
  background: rgba(215, 80, 200, 0.5);
  scale: 1.006;
}
.flowBoxRowBridge {
  display: flex;
  align-items: center;
  gap: 10px;
}
.flowBoxRowBridge img,
.flowBoxChain img {
  background: radial-gradient(
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0) 70%
  );
}
