.footer,
.footerVertical {
  box-sizing: border-box;
  color: #aaa;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 20px 30px;
}

.footerVertical {
  padding: 50px 20px 30px 20px;
  gap: 20px;
  flex-flow: column-reverse;
}

.footer p,
.footerVertical p {
  margin: 0;
}

.footer > p:last-of-type {
  text-align: right;
}
.footerVertical > p:last-of-type {
  text-align: center;
}

.footer p span,
.footerVertical p span {
  display: block;
}

.footer a,
.footerVertical a {
  color: #aaa;
}
.footer p:first-of-type a,
.footerVertical p:first-of-type a {
  margin-right: 10px;
}
