.footer {
  box-sizing: border-box;
  text-align: center;
  background: #000;
  color: #aaa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.footer p {
  margin: 0;
}

.footer a {
  color: #aaa;
}
