.footer {
  box-sizing: border-box;
  color: #aaa;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background: linear-gradient(
    90deg,
    rgba(6, 14, 35, 0.9) 0%,
    rgba(0, 0, 0, 0.108) 100%
  );
}

.footer p {
  margin: 0;
}

.footer > p:last-of-type {
  text-align: right;
}

.footer p span {
  display: block;
}

.footer a {
  color: #aaa;
}
.footer p:first-of-type a {
  margin-right: 10px;
}
