.footer {
  box-sizing: border-box;
  color: #aaa;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px 30px 40px;
}

.footer p {
  margin: 0;
}

.footer > p:last-of-type {
  text-align: right;
}

.footer p span {
  display: block;
}

.footer a {
  color: #aaa;
}
