body {
  font-family: 'Inter', Arial, sans-serif;
  margin: 0;
  overflow-x: hidden;
  background: linear-gradient(90deg, #020611 0%, #091126 86.46%);
  color: #fff;
}
a {
  color: #fff;
}

svg *,
button,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

svg text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.highlight {
  transition: fill 400ms ease, stroke 400ms ease, opacity 400ms ease;
}
.circle-default {
  fill: #304273;
  stroke: #334272;
}
.circle-hovered {
  fill: #d750c8;
  stroke: #d750c8;
}
.circle-selected {
  fill: #d750c8;
  stroke: #da50c8;
}
.blurred-image-default {
  opacity: 0;
}
.blurred-image-hovered {
  opacity: 1;
}
.blurred-image-selected {
  opacity: 1;
}
.path-default {
  stroke: #304273;
}
.path-hovered {
  stroke: #d750c8;
}
.path-selected {
  stroke: #d750c8;
}
.path-hidden {
  display: none;
}
.transparent {
  opacity: 0;
}
.dash,
.dash-reverse {
  pointer-events: none;
  animation: dash 3600s linear infinite;
}
.dash-reverse {
  animation-direction: reverse;
}

@keyframes dash {
  from {
    stroke-dashoffset: 25000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

svg text::selection {
  background: none;
}
.simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
}
.simplebar-scrollbar:before {
  background: #6e2d71;
  width: 6px;
  left: 0;
  top: 0;
  bottom: 0;
}
.simplebar-track {
  background: #0a021a;
  right: -20px;
}
.simplebar-track.simplebar-vertical {
  width: 6px;
}
.simplebar-horizontal {
  display: none;
}
