body {
  font-family: 'Inter', Arial, sans-serif;
  margin: 0;
  overflow-x: hidden;
  background: linear-gradient(90deg, #020611 0%, #091126 86.46%);
  color: #fff;
}
a {
  color: #fff;
}

svg text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dash {
  stroke-dashoffset: 0;
  animation: dash 3600s linear infinite;
}
.dash-reverse {
  animation: dash 3600s linear reverse infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 50000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

svg text::selection {
  background: none;
}
.simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
}
.simplebar-scrollbar:before {
  background: #6e2d71;
  width: 6px;
  left: 0;
  top: 0;
  bottom: 0;
}
.simplebar-track {
  background: #0a021a;
  right: 15px;
}
.simplebar-track.simplebar-vertical {
  width: 6px;
}
