body {
  font-family: Arial, sans-serif;
  margin: 0;
  overflow-x: hidden;
  background: #190838;
  color: #ccc;
}
a {
  color: #ccc;
}

svg text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

svg text::selection {
  background: none;
}
.simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
}
.simplebar-scrollbar:before {
  background: #6e2d71;
  width: 6px;
  left: 0;
  top: 0;
  bottom: 0;
}
.simplebar-track {
  background: #0a021a;
  right: 15px;
}
.simplebar-track.simplebar-vertical {
  width: 6px;
}
