.header {
  padding: 20px 30px 0 30px;
  box-sizing: border-box;
}
.header a {
  text-decoration: none;
}
.header h1 {
  margin: 0 20px 0 0;
  display: inline-block;
  vertical-align: middle;
}
.verticalAlign {
  vertical-align: middle;
}
.baseline {
  margin: 0;
}
.poweredBy {
  font-weight: 400;
  font-size: 9px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  vertical-align: middle;
  color: #beddff;
}
.oneline {
  justify-content: center;
  display: flex;
  align-items: baseline;
}
.onelineHorizontal {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}
.question {
  color: #90a0ce;
  margin: 10px 0 0 0;
  text-align: center;
}
.questionHorizontal {
  color: #90a0ce;
  margin: 10px 0 0 0;
  text-align: left;
}
