.headerHorizontal,
.header {
  padding: 20px 30px 0 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}
.header {
  flex-direction: column;
  padding: 20px 10px 0 10px;
  align-items: center;
}
.header a,
.headerHorizontal a {
  text-decoration: none;
}
.header h1,
.headerHorizontal h1 {
  margin: 0 20px 0 0;
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
}
.header h1 {
  margin: 0;
}
.verticalAlign {
  vertical-align: middle;
}
.baseline {
  margin: 0;
  font-size: 8px;
}
.poweredBy {
  font-weight: 400;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  vertical-align: middle;
  color: #beddff;
}
.oneline,
.onelineVertical {
  justify-content: flex-start;
  display: flex;
  align-items: baseline;
}
.onelineVertical {
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}
.onelineVertical .poweredBy {
  /* display: block; */
}
.question,
.questionVertical {
  color: #90a0ce;
  margin: 10px 0 0 0;
  text-align: left;
}
.questionVertical {
  text-align: center;
  margin: 10px 0 12px 0;
}
.buttons {
  display: flex;
  gap: 16px;
}
.filter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  width: 100%;
}
.filter h3 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  margin: 0;
  letter-spacing: 0.16em;
}
.filter .inputRange {
  padding: 0 10px;
  width: 100%;
  box-sizing: border-box;
}
.filtersModalHorizontal,
.filtersModalVertical {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 40px;
  gap: 32px;
  background: #283b6d;
  box-sizing: border-box;
  z-index: 1;
}
.filtersModalHorizontal {
  position: absolute;
  border-radius: 16px;
  margin-top: 11px;
  width: 500px;
  right: 30px;
  top: 55px;
}
.filtersModalVertical {
  position: fixed;
  width: 100%;
  bottom: 0;
  border-radius: 16px 16px 0 0;
  box-shadow: 0 -5px 15px #000;
}
.filterBox {
  background: #283b6d;
  border-radius: 30px;
  padding: 4px 16px 4px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
  gap: 5px;
  width: 125px;
  transition: all 200ms ease;
}
.filterBox:hover {
  background: #344a80;
}
.filterBoxContent {
  display: flex;
  font-size: 12px;
  align-items: center;
  gap: 5px;
}
.filterBoxContent p {
  margin: 0;
}
.closeFiltersButton {
  border-radius: 100%;
  margin: 0;
  padding: 20px;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  width: 60px;
  height: 60px;
  margin: 0 0 0 calc(50% - 30px);
  border: none;
  color: #283b6d;
  background: #344d8b;
  cursor: pointer;
  transition: all 150ms ease;
  box-shadow: 0 0 10px rgba(69, 94, 160, 0);
}
.closeFiltersButton:hover {
  background: #455ea0;
  box-shadow: 0 0 10px rgba(69, 94, 160, 1);
}
.removeFilters {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  cursor: pointer;
  background: #4e5f8a;
  border-radius: 16px;
  width: 20px;
  height: 20px;
  color: #fff;
  margin-right: -10px;
}
.toggle,
.toggleVertical {
  background: #311c42;
  border-radius: 30px;
  display: inline-flex;
  gap: 4px;
  height: 35px;
  box-sizing: border-box;
}
.toggleVertical {
  height: auto;
}
.toggle button.selected,
.toggleVertical button.selected {
  background: rgba(215, 80, 200, 1);
}
.toggle button,
.toggleVertical button {
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0;
  padding: 4px 16px;
  height: 100%;
  color: #fff;
  background: rgba(215, 80, 200, 0);
  border-radius: 30px;
}
.toggleVertical button {
  height: 30px;
}
.vertical {
  width: 100%;
}
