.headerHorizontal,
.header {
  padding: 20px 30px 0 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.header {
  flex-direction: column;
  padding: 20px 10px 0 10px;
  align-items: center;
}
.header a,
.headerHorizontal a {
  text-decoration: none;
}
.header h1,
.headerHorizontal h1 {
  margin: 0 20px 0 0;
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
}
.verticalAlign {
  vertical-align: middle;
}
.baseline {
  margin: 0;
  font-size: 8px;
}
.poweredBy {
  font-weight: 400;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  vertical-align: middle;
  color: #beddff;
}
.oneline,
.onelineVertical {
  justify-content: flex-start;
  display: flex;
  align-items: baseline;
}
.onelineVertical {
  justify-content: center;
  align-items: center;
}
.onelineVertical .poweredBy {
  display: block;
}
.question,
.questionVertical {
  color: #90a0ce;
  margin: 0;
  text-align: left;
}
.questionVertical {
  text-align: center;
  margin: 10px 0 12px;
}
.toggle,
.toggleVertical {
  background: #311c42;
  border-radius: 30px;
  display: inline-flex;
  gap: 4px;
  height: 35px;
  box-sizing: border-box;
}
.toggleVertical {
  padding: 3px;
  height: auto;
}
.toggle button.selected,
.toggleVertical button.selected {
  background: rgba(215, 80, 200, 1);
}
.toggle button,
.toggleVertical button {
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0;
  padding: 4px 16px;
  height: 100%;
  color: #fff;
  background: rgba(215, 80, 200, 0);
  border-radius: 30px;
}
.toggleVertical button {
  height: 25px;
  padding: 0 10px;
}
.vertical {
  width: 100%;
}
