.menu {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
}
.list h2 {
  margin: 0;
  text-align: left;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.16em;
  color: #d750c8;
  padding-left: 10px;
}
.item {
  list-style-type: none;
}
.item .head {
  padding: 15px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 15px 10px;
  text-transform: uppercase;
  background: linear-gradient(
    90deg,
    rgba(215, 80, 200, 0.2) 0%,
    rgba(215, 80, 200, 0.084) 100%
  );
}
.item a {
  padding: 15px 10px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  transition: all 600ms ease;
  scale: 1;
  align-items: flex-end;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
}
.item a:hover {
  background: rgba(215, 80, 200, 0.5);
  border-radius: 10px;
  scale: 1.01;
}
.item > a > div {
  display: flex;
  gap: 8px;
  align-items: flex-end;
}
.item p {
  margin: 0;
}
