.menu {
  padding: 0px 40px 0px 20px;
  text-align: center;
  text-transform: uppercase;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
}
.item {
  list-style-type: none;
  background: #190838;
}
.item .head {
  padding: 15px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 15px 10px;
}
.item a {
  padding: 15px 10px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  border-radius: 0px;
  box-sizing: border-box;
  transition: all 400ms ease;
  scale: 1;
  align-items: flex-end;
}
.item a:hover {
  background: #6e2d71;
  border-radius: 200px;
  scale: 1.01;
}
.item > a > div {
  display: flex;
  gap: 10px;
  align-items: flex-end;
}
.item p {
  margin: 0;
}
