.menuLandscape {
  padding: 0px 40px 0px 0px;
}
.menuPortrait {
  padding: 0 20px;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
}
.list h2 {
  color: #d750c8;
  margin: 0;
  text-transform: capitalize;
  text-align: left;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  padding-left: 10px;
}
.item {
  list-style-type: none;
}
.item .head {
  padding: 15px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 15px 10px;
  text-transform: uppercase;
}
.item a {
  padding: 15px 10px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  border-radius: 0px;
  box-sizing: border-box;
  transition: all 600ms ease;
  scale: 1;
  align-items: flex-end;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
}
.item a:hover {
  background: rgba(215, 80, 200, 0.5);
  border-radius: 6px;
  scale: 1.01;
}
.item > a > div {
  display: flex;
  gap: 10px;
  align-items: flex-end;
}
.item p {
  margin: 0;
}
