.networkDiagram {
  display: inline-block;
  position: relative;
}
.networkDiagram p {
  margin: 0;
}
.networkDiagram img {
  background: radial-gradient(
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0) 70%
  );
}
.status {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  color: #d750c8;
  opacity: 0.7;
}
.flowTooltip,
.chainTooltip,
.bridgeTooltip {
  position: absolute;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  margin-left: -125px;
  pointer-events: none;
  gap: 16px;
  padding: 22px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 6px;
  backdrop-filter: blur(6px);
  animation: popin 0.2s ease;
  z-index: 1;
}
.chainTooltip {
  margin-top: 50px;
}
.flowTooltip,
.bridgeTooltip {
  margin-top: 50px;
}
.chainTooltip::before {
  content: ' ';
  border: solid 15px transparent;
  border-bottom: solid 15px rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 50%;
  margin-left: -15px;
  top: -30px;
}
.chainTooltipTitle,
.flowTooltipTitle {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.16em;
}
.chainData {
  display: flex;
  justify-content: space-between;
}
.chainDataInput,
.flowData {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.16em;
  color: #dddddd;
}
.chainDataInput:last-of-type {
  text-align: right;
}
.flowArrow {
  width: 20px;
  height: 2px;
  background: #fff;
  position: relative;
}
.flowArrowTip {
  border: solid 6px transparent;
  border-left: solid 8px #fff;
  position: absolute;
  top: -5px;
  right: -7px;
  width: 0;
  height: 0;
}
.bridgeType {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 0.16em;
  color: #6178b0;
  padding: 4px 8px;
  background: rgba(69, 100, 178, 0.2);
  border-radius: 4px;
}
.value {
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}
@keyframes popin {
  0% {
    opacity: 0;
    scale: 0.8;
  }
  100% {
    opacity: 100%;
    scale: 1;
  }
}
@media (pointer: coarse) {
  .flowTooltip,
  .chainTooltip,
  .bridgeTooltip {
    display: none;
  }
}
