.nodeSpecifics,
.nodeItem {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.nodeItemGap8 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.nodeItem h2,
.nodeDataItem h2,
.nodeItemGap8 h2 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.16em;
  color: #d750c8;
  margin: 0;
}
.specialInfo {
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #dddddd;
}
.byImmunefi {
  text-transform: none;
  color: #6073a3;
  letter-spacing: normal;
}
.bugButton {
  padding: 8px 0;
  background: rgba(69, 100, 178, 0.5);
  border: 1px solid #2a3c6b;
  border-radius: 40px;
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  transition: background 400ms ease;
}
.bugButton:hover {
  background: rgba(69, 100, 178, 0.7);
}
.nodeInfo {
  display: flex;
  align-items: center;
  gap: 16px;
}
.nodeSpecifics p {
  margin: 0;
}
.nodeName {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  text-transform: capitalize;
}
.nodeCategory {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.16em;
  color: #6178b0;
  padding: 4px 8px;
  display: block;
  background: rgba(69, 100, 178, 0.2);
  border-radius: 4px;
}
.nodeDataItem {
  display: flex;
  gap: 24px;
  flex-direction: column;
}
.nodeAudits {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
.nodeAudit {
  padding: 4px 8px;
  background: rgba(30, 36, 51, 0.8);
  min-width: 78px;
  transition: background 400ms ease;
}
.nodeAudit:hover {
  background: rgb(41, 49, 70);
}
.nodeAudits a {
  text-decoration: none;
}
.auditYear {
  margin: 0;
  font-weight: 300;
  font-size: 12px;
  line-height: 150%;
  color: #868686;
}
.auditFirm {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #b5c7f7;
}
