.content {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  padding: 0 20px 40px 20px;
}
.sidePanel {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 600px;
  padding: 20px 40px 20px 0;
  box-sizing: border-box;
}
