.table {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.table h2 {
  margin: 0;
  text-align: left;
  font-weight: 300;
  font-size: 14px;
  line-height: 35px; /*17px*/
  letter-spacing: 0.16em;
  color: #d750c8;
  text-transform: uppercase;
}

.table:first-of-type h2 {
  line-height: normal;
  padding-bottom: 10px;
}

.titleBox {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.tableContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
  margin: 0;
}

.item {
  list-style-type: none;
  padding: 0 3px;
}
.head {
  padding: 0 13px;
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  justify-content: space-between;
  box-sizing: border-box;
  text-transform: uppercase;
  background: linear-gradient(
    90deg,
    rgba(215, 80, 200, 0.2) 0%,
    rgba(215, 80, 200, 0.084) 100%
  );
}
.head p {
  width: 160px;
  text-align: right;
}
.head p:first-of-type {
  display: flex;
  gap: 8px;
}
.imageGap {
  width: 22px;
}
.item a {
  padding: 0px 10px;
  height: 51px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  transition: all 200ms ease;
  scale: 1;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
}
.item a > p {
  width: 160px;
  text-align: right;
}
.nameBox {
  text-align: left;
  display: flex;
  gap: 8px;
  align-items: center;
}

.nameBox img {
  background: radial-gradient(
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0) 70%
  );
}

.item a:hover {
  background: rgba(215, 80, 200, 0.5);
  scale: 1.006;
}
.item > a > div {
  display: flex;
  gap: 8px;
  align-items: flex-end;
}
.item p {
  margin: 0;
}

@media (max-width: 600px) {
  .item a {
    font-size: 12px;
  }
}
